@media (min-width: 240px) {
  .animate {
    animation-duration: 0.3s;
    -webkit-animation-duration: 0.3s;
    animation-fill-mode: both;
    -webkit-animation-fill-mode: both;
  }
}

@keyframes slideIn {
  0% {
    transform: translateY(1rem);
    opacity: 0;
  }

  100% {
    transform: translateY(0rem);
    opacity: 1;
  }

  0% {
    transform: translateY(1rem);
    opacity: 0;
  }
}

@-webkit-keyframes slideIn {
  0% {
    -webkit-transform: transform;
    -webkit-opacity: 0;
  }

  100% {
    -webkit-transform: translateY(0);
    -webkit-opacity: 1;
  }

  0% {
    -webkit-transform: translateY(1rem);
    -webkit-opacity: 0;
  }
}
body {
  font-family: "Raleway", sans-serif;
}

.slideIn {
  -webkit-animation-name: slideIn;
  animation-name: slideIn;
}

@media screen and (max-width: 1000px) {
  .responsive-hide {
    display: none;
  }
}

@media screen and (min-width: 1000px) {
  .non-hide {
    display: none;
  }
}

.btn {
  border-radius: 0px;
}
.form-control {
  border-radius: 23px;
}
.paddingTB60 {
  padding: 60px 0px 60px 0px;
}
.gray-bg {
  background: #f1f1f1 !important;
}
.about-title {
}
.about-title h1 {
  color: #535353;
  font-size: 45px;
  font-weight: 600;
}
.about-title span {
  font-size: 45px;
  font-weight: 700;
}
.about-title h3 {
  color: #535353;
  font-size: 23px;
  margin-bottom: 24px;
}
.about-title p {
  color: #7a7a7a;
  line-height: 1.8;
  margin: 0 0 15px;
}
.about-paddingB {
  padding-bottom: 12px;
}
.about-img {
  padding-left: 57px;
}

/* Social Icons */
.about-icons {
  margin: 48px 0px 48px 0px;
}
.about-icons i {
  margin-right: 10px;
  padding: 0px;
  font-size: 35px;
  color: #323232;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
}
.about-icons li {
  margin: 0px;
  padding: 0;
  display: inline-block;
}
#social-fb:hover {
  color: #3b5998;
  transition: all 0.001s;
}
#social-tw:hover {
  color: #4099ff;
  transition: all 0.001s;
}
#social-gp:hover {
  color: #d34836;
  transition: all 0.001s;
}
#social-em:hover {
  color: #f39c12;
  transition: all 0.001s;
}

.print {
  position: fixed;
  width: 50px;
  height: 40px;
  bottom: 40px;
  right: 40px;
  border-radius: 5px;
  text-align: center;
}

.welcome {
  position: fixed;
  background-color: rgba(255, 255, 255, 0.9);
  width: 230px;
  height: 100px;
  top: 100px;
  right: 20px;
  border-radius: 5px;
}

.welcome-f {
}

.p-top {
  padding-top: 110px;
}

.filter-btn {
  border-radius: 3px;
}

.navbar {
  background: #000000;
}

.nav-item::after {
  content: "";
  display: block;
  width: 0px;
  height: 2px;
  background: rgb(254,178,0);
  background: linear-gradient(291deg, rgba(254,178,0,1) 0%, rgba(77,179,61,1) 100%);
  transition: 0.4s;
}

.nav-item:hover::after {
  width: 100%;
}

.navbar-dark .navbar-nav .active > .nav-link,
.navbar-dark .navbar-nav .nav-link.active,
.navbar-dark .navbar-nav .nav-link.show,
.navbar-dark .navbar-nav .show > .nav-link,
.navbar-dark .navbar-nav .nav-link:focus,
.navbar-dark .navbar-nav .nav-link:hover {
  color: #4DB33D;
  background: #4DB33D;
  background: linear-gradient(to right, #4DB33D 0%, #FEB200 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.gradient-custom {
  background: rgba(255, 255, 255, 0.11);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);
}

.bg-blur {
  background: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(15px);
}

.gradient-text {
  background: #feb200;
  background: linear-gradient(to right, #feb200 0%, #0ec0c7 13%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.t-shadow {
  text-shadow: 1px 1px 3px grey;
}

.t-no-shadow {
  text-shadow: 0px 0px 0px transparent;
}

.nav-link {
  padding: 25px 5px;
  transition: 0.2s;
}

.hero {
  height: 120vh;
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.3)),
    url("/src/assets/hero.jpg") center / cover no-repeat;
}

.under-hero {
  margin-top: -220px;
}

.bg-contact {
  background: rgba(15, 15, 15 , 0.0);
  backdrop-filter: blur(15px) brightness(40%);
  -webkit-backdrop-filter: blur(15px);
}

.bg-image-contact {
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url("/src/assets/hero.jpeg") center / cover no-repeat;
}

.special-text {
  color: #FEB200;
  background: #FEB200;
  background: linear-gradient(to right, #FEB200 0%, #4db33d 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;  
}

.btn {
  background: rgb(254,178,0);
  background: linear-gradient(291deg, rgba(254,178,0,1) 0%, rgba(77,179,61,1) 100%);
}
.btn:hover {
  background: rgb(77,179,61);
  background: linear-gradient(291deg, rgba(77,179,61,1) 0%, rgba(254,178,0,1) 100%);
}

* {
  transition: 0.5s;
}

.column {
  margin-top: 3rem;
  padding-left: 3rem;
  &:hover {
    padding-left: 0;
    .card .txt {
      margin-left: 1rem;
      h1,
      p {
        color: rgba(255, 255, 255, 1);
        opacity: 1;
      }
    }
    a {
      color: rgba(255, 255, 255, 1);
      &:after {
        width: 10%;
      }
    }
  }
}
.card {
  background: rgba(255, 255, 255, 0.11);
  backdrop-filter: blur(11.8px);
  -webkit-backdrop-filter: blur(11.8px);
  min-height: 100px;
  margin: 0;
  padding: 1.7rem 1.2rem;
  border: none;
  border-radius: 0;
  color: rgba(0, 0, 0, 1);
  letter-spacing: 0.05rem;
  .txt {
    margin-left: -3rem;
    z-index: 1;
    h1 {
      font-size: 1.5rem;
      font-weight: 300;
      text-transform: uppercase;
    }
    p {
      font-size: 0.7rem;
      font-family: "Open Sans", sans-serif;
      letter-spacing: 0rem;
      margin-top: 33px;
      opacity: 0;
      color: rgba(255, 255, 255, 1);
    }
  }
}

.node-text {
  color: #6cc24a;
}
.react-text {
  color: #61dbfb;
}
.mysql-text1 {
  color: #00758f;
}
.mysql-text2 {
  color: #f29111;
}
.mongo-text {
  color: #4db33d;
}
.html-text {
  color: #e34c26;
}
.css-text {
  color: #2965f1;
}
.js-text {
  color: #F0DB4F;
}
.bs-text {
  color: #8d5fd1;
}

.mongo-bg {
  background-color: #4db33d;
}

a:hover {
  color: #c1c1c1;
}

.navbar-bg{
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.4)),
    url("/src/assets/nav.jpg") center / cover no-repeat;
}

/* project */

a,
a:hover,
a:focus {
    color: inherit;
}

.card-container {
    padding: 100px 0px;
    -webkit-perspective: 1000;
    perspective: 1000;
}

.project-card-2 {
    max-width: 400px;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.1);
    background-position: center;
    overflow: hidden;
    position: relative;
    margin: 10px auto;
    cursor: pointer;
    background: rgb(254,178,0);
    background: linear-gradient(291deg, rgba(254,178,0,0.500437675070028) 0%, rgba(77,179,61,0.49763655462184875) 100%);
}

.project-card-2 img {
  opacity: 0.4;
  transition: all linear 0.25s;
}

.project-card-2:hover img {
  -webkit-filter: brightness(100%);
  opacity: 1;
  -webkit-transition: all 0.25s ease;
  -moz-transition: all 0.25s ease;
  -o-transition: all 0.25s ease;
  -ms-transition: all 0.25s ease;
  transition: all 0.25s ease;
}

.project-card-2:hover .project-name {
    bottom: 80px;
}

.project-card-2:hover .project-title {
    bottom: 60px;
}

.project-card-2:hover .project-icons {
    right: 40px;
}

